<div  style="text-align:left;" >
    <form #flight="ngForm">
        <div style="text-align:left; color: cornflowerblue;">
        <h2>Login</h2><br><br>
        </div>
        <div>
            <label class="col-md-2" for="UserName" >User</label>
            <input class="col-md-2" type="text" name="UserName" required  ngModel>
        </div>
        <div>
            <label class="col-md-2" for="Password">Password</label>
            <input class="col-md-2" type="text" name="Password" required ngModel><br><br>
        </div>
        
        <input class="btn btn-primary col-md-offset-2 col-md-2" type="submit" value="Login"><br>
    </form>
    </div>
