<!--<app-add-airline></app-add-airline>-->

<ul class="nav navbar-nav">
    <li role="presentation" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <a routerLink="AddFlight">Add Flight</a>
    </li>
    <li role="presentation" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <a routerLink="showFlights">Show Flights</a>
    </li>
    <li role="presentation" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <a routerLink="bookFlights">Book Flights</a>
    </li>
</ul><br><br><br><br>
<router-outlet></router-outlet>

